



<% content_for :name, "home" %>

<div class="splash">
<div id="home-container"></div>
  <div class="biz six columns">
    <h1 class="welcome">Welcome to<br /><span id="home-title">Biz-Shout!</span></h1>
    <h1 class="welcome">The best place to discover and assess businesses</h1>
  </div>
  <div class="six columns">

    <h3 class="bordert"><a class="tweet radius button" href="/auth/facebook">Login with <span class="glyph social" id="facelarge">d</span></a></h3>
    <h3 class="bordert"><a class="tweet radius button" href="/auth/twitter">Login with <span class="glyph social" id="facelarge">e</span></a></h3>
  </div>

  <div class="six columns">

      <h3 class="bordert"><a class="searching radius button" href="/auth/twitter">Search for companies <span class="glyph general" id="searchlarge">u</span></a></h3>
    </div>
  </div>
</div>
</div>


