<% @x.each do |comment| %>
      <div class="text">
        <h3><%= comment.user.username %></h3>
        <div class="textbox"><%= comment.text %></div>
      </div>
    <% end %>
     <br />
     <div class="page">
      <%= paginate @pager %>
      </div>
<%= link_to 'Back', companies_path %>