body.home2 {

    background: url(grid.png) repeat 0 0;

}

.authname {
  font-family: 'Ubuntu', sans-serif;
}

#profile {
  text-align: center;
  
  padding: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 30px;
}