.searchp {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.innersearch {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.listitem {
  border-bottom: 1px dashed black;
  margin: 5px;
  padding: 10px;
}
.listitem a {
  /*color: #7600ff;*/
  color: #290066;
}

.page a{
  /*color: #7600ff;*/
  color: #290066;

}
.page {
  margin-bottom: 50px;
}
