.commentbox {
  margin-top: 70px;
  font-family: 'Ubuntu', sans-serif;
}
.commentbox h3 {
  font-family: 'Ubuntu', sans-serif;
}
.starrate {
  font-family: 'Ubuntu', sans-serif;
}
.text h3{
  font-family: 'Ubuntu', sans-serif;
}

.textbox {
  font-family: 'Ubuntu', sans-serif;
  border: 1px dashed black;
  padding: 5px;
}
#companyname h3 {
  font-family: 'Ubuntu', sans-serif;
}
/*#comment_section {
  margin-top: 200px;
  margin-bottom: 30px;
}*/